header {
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center right;
}

#headerText {
  font-family: bely-display;
}

#headerOutline {
  font-family: bely-display;
  font-size: 4rem;
}
