#navBtn {
  width: 30px;
  height: 30px;
  background-position: center center;
  background-size: contain;
}

.bi-house {
  font-size: 29px;
}

.bi-plus-square {
  font-size: 25px;
}

#navAvatar {
  width: 30px;
  height: 30px;
  background: $primary;
  object-fit: cover;
}
