#auction {
  img,
  .slideOne img,
  .slideTwo img,
  .slideThree img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    object-position: center center;
  }
}

.bi-three-dots {
  font-size: 30px;
}

@media (max-width: 576px) {
  .carousel-item,
  #imageContainer {
    height: 300px;
    width: 100%;
  }
}

@media (min-width: 576px) {
  .carousel-item,
  #imageContainer {
    height: 500px;
    width: 100%;
  }
}
