nav {
  box-shadow: 0 0 3px 3px $primary;
}

.collapse {
  box-shadow: 0 0 3px 3px $primary;
}

#navbarCollapse {
  display: flex;
  flex-direction: column;
  align-items: flex-end;
  box-shadow: 0 0 3px 3px $primary;
}

.navbar-brand :hover {
  color: $secondary !important;
}

.cta-button {
  transition: background-color 0.2s ease;
  &:hover {
    background-color: rgba(45, 53, 99, 0.9) !important;
  }
}
