a {
  color: black !important;
  text-decoration: none !important;
}

h1,
.logo {
  color: $secondary;
  font-family: bely-display, sans-serif;
  margin-top: auto;
  margin-bottom: auto;
}

p,
a,
::placeholder {
  font-family: "soleil", sans-serif;
  color: black;
}

:hover {
  color: black !important;
}

button {
  color: black;

  ::after {
    outline: none;
  }
}

input,
button,
select,
optgroup,
textarea,
label {
  font-family: soleil, sans-serif !important;
}
