@import url("https://use.typekit.net/hmk0koo.css");

h1 {
  font-family: bely-display, sans-serif;

  margin-top: auto;
  margin-bottom: auto;
}

p,
a {
  font-family: "soleil", sans-serif;
}

a {
  color: black;
}

button {
  color: white;
}
