// Bootstrap overrides
@import "variables";
@import "reboot";
@import "utilities";
@import "navbar";
@import "form-check";

// Fonts
@import url("https://use.typekit.net/hmk0koo.css");

// Custom styles
@import "./components/nav";

// Bootstrap
@import "../../node_modules/bootstrap/scss/bootstrap.scss";

//Nav
#navBtn {
  object-position: bottom center;
}

// Global
.maxWidth {
  max-width: 900px;
}

.errorMessage {
  display: none;
}
//
input:focus {
  outline: none;
}

::placeholder {
  color: black;
}

// Home
#auctionsImg {
  width: 125px;
  height: 125px;
  object-fit: cover;
  vertical-align: middle;
  transition: all 0.2s ease;
}

// Auction
#auction {
  img,
  .slideOne,
  .slideTwo,
  .slideThree {
    max-width: 600px;
    max-height: 450px;
    object-fit: cover;
  }
}

#sellerCard {
  img {
    width: 100px;
    height: 100px;
    object-fit: cover;
  }
}

// #auctionCard {
//   .wrapper,
//   img {
//     height: 130px;
//     width: 130px;
//   }

//   img {
//     background-size: cover;
//     background-position: center center;
//     background-repeat: no-repeat;
//   }
// }

// Profile
#avatar {
  min-width: 120px;
  min-height: 120px;
  height: 100px;
  border: 2px solid $primary;
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
}

// Auction

.card-img {
  height: 300px;
  object-fit: center;
  object-position: center center;
}

#sellerButton {
  position: absolute;
  text-decoration: none;

  img {
    width: 40px;
    height: 40px;
  }
}

.bidPic {
  background-color: red;
  border: 2px solid $primary;
  height: 60px;
  width: 60px;
}

// Loader
.loader {
  display: inline-block;
  position: relative;
  width: 100px;
  height: 100px;
}

.gavel {
  background: url(/assets/loader/gavel.png);
  width: 100px;
  height: 40px;
  top: 20px;
  left: 20px;
  transform: rotate(45deg);
  animation: rotate-gavel 2s linear infinite;
}

.blobs {
  background: url(/assets/loader/blobs.png);
  width: 50px;
  height: 30px;
  top: 40px;
  left: 0px;
  opacity: 0;
  animation: show-blobs 2s linear infinite;
}

.block {
  background: url(/assets/loader/block.png);
  width: 50px;
  height: 40px;
  top: 60px;
  left: 6px;
}

.gavel,
.blobs,
.block {
  background-size: contain;
  background-repeat: no-repeat;
  position: absolute;
}

@keyframes rotate-gavel {
  50% {
    rotate: -45deg;
  }
}

@keyframes show-blobs {
  50% {
    opacity: 0;
  }
  75% {
    opacity: 70;
  }
  100% {
    opacity: 100;
  }
}

// Loading spinner
@media (min-width: 768px) {
  #avatar {
    width: 150px;
    height: 150px;
  }
}

@media (min-width: 992px) {
  #auctionCard:hover {
    cursor: pointer;

    img {
      transform: scale(1.1);
    }
  }
}
