@import "variables.scss";
@import "reboot.scss";
@import "utilities.scss";
@import "navbar.scss";

a {
  text-decoration: none;
}

.errorMessage {
  display: none;
}

input:focus {
  outline: none;
}

::placeholder {
  color: black;
}

// Nav
#navBtn {
  background-position: center center;
  background-size: contain;
}

// Home
// #auctionCard {
//   .wrapper,
//   img {
//     height: 130px;
//     width: 130px;
//   }

//   img {
//     vertical-align: middle;
//     background-size: cover;
//     background-position: center center;
//     background-repeat: no-repeat;
//     transition: all 0.2s ease;
//   }
// }

// Profile
#avatar {
  width: 100px;
  height: 100px;
  border: 2px solid $primary;
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
}

// Auction
.card-img {
  height: 300px;
  object-fit: center;
  object-position: center center;
}

#auctionImg {
  width: 130px;
  height: 130px;
}

#sellerButton {
  position: absolute;
  text-decoration: none;

  img {
    width: 35px;
    height: 35px;
  }
}

.navpic {
  width: 40px;
  height: 40px;
  border: 2px solid black;
  border-radius: 50%;
}

.bidPic {
  background-color: red;
  border: 2px solid $primary;
  height: 60px;
  width: 60px;
}

// Loader
.loader {
  display: inline-block;
  position: relative;
  width: 100px;
  height: 100px;
}

.gavel {
  background: url(/assets/loader/gavel.png);
  width: 100px;
  height: 40px;
  top: 20px;
  left: 20px;
  transform: rotate(45deg);
  animation: rotate-gavel 2s linear infinite;
}

.blobs {
  background: url(/assets/loader/blobs.png);
  width: 50px;
  height: 30px;
  top: 40px;
  left: 0px;
  opacity: 0;
  animation: show-blobs 2s linear infinite;
}

.block {
  background: url(/assets/loader/block.png);
  width: 50px;
  height: 40px;
  top: 60px;
  left: 6px;
}

.gavel,
.blobs,
.block {
  background-size: contain;
  background-repeat: no-repeat;
  position: absolute;
}

@keyframes rotate-gavel {
  50% {
    rotate: -45deg;
  }
}

@keyframes show-blobs {
  50% {
    opacity: 0;
  }
  75% {
    opacity: 70;
  }
  100% {
    opacity: 100;
  }
}

@media (min-width: 992px) {
  #auctionCard:hover {
    cursor: pointer;

    img {
      transform: scale(1.1);
    }
  }
}
