// Bootstrap overrides
@import "variables";
@import "reboot";
@import "utilities";
@import "navbar";
@import "form-check";

// Fonts
@import url("https://use.typekit.net/hmk0koo.css");

// Custom styles
@import "./components/loader";
@import "./components/nav";
@import "./pages/home/home";
@import "./pages/styles";
@import "./components/auctionCard";
@import "./pages/auction/_auction";
@import "./pages/profile/profile";

// Bootstrap
@import "../../node_modules/bootstrap/scss/bootstrap";

// Global - - - - - - - - - - - - - - - - - - - -
.maxWidth {
  max-width: 900px;
}

.errorMessage {
  display: none;
}

#loginBtnHome {
  display: none;
}

input:focus {
  outline: none;
}

::placeholder {
  color: black;
}

// Profile - - - - - - - - - - - - - - - - - - - -

#auctionsProfile,
#auctionsBids,
#bidsProfile {
  display: grid;
  gap: 40px;
  grid-template-columns: repeat(auto-fit, minmax(180px, 1fr));
}
