@import "variables.scss";
@import "reboot.scss";
@import "utilities.scss";
@import "navbar.scss";

input:focus {
  outline: none;
}

::placeholder {
  color: black;
}

.navpic {
  width: 40px;
  height: 40px;
  background: red;
  border: 2px solid black;
  border-radius: 50%;
}

.profilePic {
  width: 100px;
  height: 100px;
  background-color: red;
  border: 2px solid $primary;
}

.auctionImg {
  height: 110px;
  width: 110px;
  background-size: cover;
}

.auctionImg {
  height: 250px;
  width: 250px;
  background-size: contain;
}

.bidPic {
  background-color: red;
  border: 2px solid $primary;
  height: 60px;
  width: 60px;
}

// Loader
.loader {
  display: inline-block;
  position: relative;
  width: 100px;
  height: 100px;
}

.gavel {
  background: url(/assets/loader/gavel.png);
  width: 100px;
  height: 40px;
  top: 20px;
  left: 20px;
  transform: rotate(45deg);
  animation: rotate-gavel 2s linear infinite;
}

.blobs {
  background: url(/assets/loader/blobs.png);
  width: 50px;
  height: 30px;
  top: 40px;
  left: 0px;
  opacity: 0;
  animation: show-blobs 2s linear infinite;
}

.block {
  background: url(/assets/loader/block.png);
  width: 50px;
  height: 40px;
  top: 60px;
  left: 6px;
}

.gavel,
.blobs,
.block {
  background-size: contain;
  background-repeat: no-repeat;
  position: absolute;
}

@keyframes rotate-gavel {
  50% {
    rotate: -45deg;
  }
}

@keyframes show-blobs {
  50% {
    opacity: 0;
  }
  75% {
    opacity: 70;
  }
  100% {
    opacity: 100;
  }
}
